<div class="container">
{{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
  {{#if model.workers}}
  <h4>你的矿工</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>矿机</th>
          <th>算力 (rough, short average)</th>
          <th>平均算力 (accurate, long average)</th>
          <th>最近提交</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in model.workers as |k v|}}
          <tr class="{{if v.offline "warning" "success"}}">
            <td>{{k}}</td>
            <td>{{format-hashrate v.hr}}</td>
            <td>{{format-hashrate v.hr2}}</td>
            <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{else}}
    <h3>没有在线矿机</h3>
  {{/if}}
  <div class="alert alert-info" role="alert">
    <span class="sr-only">Notice:</span>
    算力显示需要一段时间来平滑调整,请耐心等待
  </div>
  <div class="alert alert-info" role="alert">
    <strong>Your bulk stats JSON API URL:</strong> <a href="/api/accounts/{{model.login}}">/api/accounts/{{model.login}}</a>
  </div>
</div>
