<div class="container">
  {{high-charts mode=chartMode chartOptions=chartPayment content=chartData}}
  {{#if model.payments}}
  <h4>支付记录</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>时间</th>
          <th>Tx ID</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>
              <a href="http://explorer.moac.io/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{tx.tx}}</a>
            </td>
            <td>{{format-balance tx.amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>没有支付记录</h3>
  {{/if}}
</div>
